body{
    background-color: #333;
}
.wrapper{

}
.container{

}
.block{
    width: 100px;
    height: 100px;
    background-color: rgb(126, 252, 0);
    transform: translate(10vw) skew(30deg);
}